/* Defining variables */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400..800&display=swap');

:root {
    --white: white;
    --snow: #f7f2f2;
    --black: #00171f;
    --yellow: #fcba04;
    --verdigris: #3aafb9;
}

body {
    cursor: url("https://icons8.com/icon/11202/cursor") 0 0, auto;
    margin: 0px 45px;

}

header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    justify-content: space-around;
}

.logo {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;

}

.logo h1 {
    align-self: center;
}

.logo img {
    height: 60px;
    width: 60px;
    align-self: center;
}

nav {
    align-self: center;
    display: flex;
    gap: 20px;

    @media only screen (max-width:455px) {
        display:hidden
    }

}

nav a {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    text-decoration: none;
}

.icon {
    align-self: center;
    display: flex;
    gap: 30px;
}

.banner {
    display: flex;
    flex-direction: column;
}

.banner div {
    align-self: center;
    position: relative;
}

.banner button {
    position: absolute;
    z-index: 2;
    left: 180px;
    bottom: 120px;
    color: white;
    transition: all 0.3s ease;
    background-color: black;
    padding: 10px 30px;
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: 60px;
    font-weight: 60;
    font-style: normal;
    font-size: 22px;
}

.banner button:hover {
    cursor: pointer;
    color: var(--yellow);
    transform: scale(1.1); 
}

.category {
    margin-top: 50px;
}

.category h2 {
    text-align: center;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-size: 48px;
    font-style: normal;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 23px;
    margin: 20px auto;
}

.cat_card {
    border-radius: 16px;
    width: 312px;
    height: 392px;
    box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.2);
    border-color: #000000;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.cat_card1{
    background-image: url('images/category/regularfit.jpg');
}
.cat_card2{
    background-image: url('images/category/oversized.jpg');
}
.cat_card3{
    background-image: url('images/category/hoodie.jpg');
}
.cat_card4{
    background-image: url('images/category/sweatshirts.jpg');
}

.cardcontent {
    background-color: rgba(247, 242, 242, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0px;
    bottom: 0px;
    box-shadow: 0px -2px 50px 2px rgb(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0px;
    height: 20%;
    transition: all 0.3s ease;
    position: absolute;
}

.cardcontent h3 {
    font-family: 'Syne';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    position: relative;
    color: var(--black);
}

.cardcontent p {
    font-family: 'Chivo';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    padding: 0px 20px;
    color: var(--black);
}

.cat_card:hover .cardcontent {
    cursor: pointer;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
}